<!DOCTYPE html>

<html lang="en">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <body style="background-color:#6699ff;">
        <h1 style="color:white; text-align:center;">Automation Wrapped 2025</h1>
        <div style="text-align:center; margin-top:50px;">
    <form method="post">
        {% csrf_token %}
        <input type="text" name="user_name" placeholder="Your Name" value="{{ user_name }}" required>
        <button type="submit">Generate My Wrapped 2025</button>
    </form>

    {% if count_of_user_processes %}
    <h1>
        {{ count_of_user_processes }} Processes Automated in 2025
    </h1>

    <h1>Top 5 Automated Processes:</h1>
    <h2>
        {% for process in top_processes %}
            <ul>{{ process.submitted_process }} ({{ process.total }} times){% if not forloop.last %}, {% endif %}</ul>
        {% endfor %}
    </h2>

    <h1>
        Total Automation Time: {{ total_hours }} hours, that's {{ total_days }} days saved!
    </h1>

    <h1>
        You decided to queue {{ processes_queued }} processes this year, that is {{ processes_queued_ratio }}% of your total automated processes!
    </h1>
    
    <div style="width: 50%; margin: auto;">
        <canvas id="queuedChart"></canvas>
    </div>


    <h1>
        You started {{ outside_office_hours }} processes outside of office hours this year. Night owl! 🦉

        You started {{ inside_office_hours }} processes during office hours this year. Work hard! 💼

    </h1> 
    
    <div style="width: 50%; margin: auto;">
        <canvas id="officeHoursChart"></canvas>
    </div>

        <h1>You had to wait the longest for these processes to finish!</h1>
        {% for process in longest_processes %}
            <p>{{ process.submitted_process }} - Duration: {{ process.duration }}</p>
        {% endfor %}
    {% endif %}


    {% if no_data %}
        <h2 style="color:white;">Thanks for trying Automation Wrapped 2025 {{ user_name }}. Unfortunately we cannot find any automated processes by yourself. Please try another name.</h2>
    {% endif %}

</body>

<script>
const officeHoursCtx = document.getElementById('officeHoursChart').getContext('2d');
new Chart(officeHoursCtx, {
    type: 'pie',
    data: {
        labels: ['Office Hours', 'Outside Office Hours'],
        datasets: [{
            data: [{{ inside_office_hours }}, {{ outside_office_hours }}],
            backgroundColor: ['#36A2EB', '#FF6384']
        }]
    }
});

const queuedCtx = document.getElementById('queuedChart').getContext('2d');
new Chart(queuedCtx, {
    type: 'pie',
    data: {
        labels: ['Queued', 'Not Queued'],
        datasets: [{
            data: [{{ processes_queued }}, {{ processes_not_queued }}],
            backgroundColor: ['#36A2EB', '#FF6384']
        }]
    }
});
</script>